*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(224 224 224 / 24%);
    align-items: center;
    padding: 7px 1px;

}
.main{
    /* background-color: rgb(227, 238, 238); */
    /* border: 2px solid black; */
    padding: 20px;
    text-align: center;
}
.main h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;

}
form input{
    padding: 18px 60px;
    border: none;
    border-bottom: 3px solid black;
    text-align: center;
    font-size: large;
    outline: none;
}

form button{
    padding: 12px 24px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: ease-in-out 0.17s;
    box-shadow: 3px 3px 3px rgba(48, 46, 46, 0.514);
    font-size: 14px;
   
}
form button:hover{
padding: 13px 24px;
font-size: 15px;
background-color: rgba(0, 0, 0, 0.815);
}
.center{
    display: flex;
}
.first{
    width: 40px;
}
.second{
    width: 200px;
}
.center p{
    font-size: large;
    font-weight: bolder;
}
.box{
    background-color: black;
    color: white;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    
   
}
.box h1,p{
    padding: 30px;
}
.search-input {
    width: 0;
    height: 30px;
    opacity: 0;
    padding: 0 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: width 0.3s ease, opacity 0.3s ease;
  }
.search-input.show {
    width: 200px;
    opacity: 1;
  }
  .fa-solid{
    cursor: pointer;
  }
  .toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #080808;
    color: white;
    text-align: center;
    padding: 14px;
    position: fixed;
    bottom: 300px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
    z-index: 1;
  }
  .toast.show {
    visibility: visible;
    opacity: 1;
  }
  @media (max-width: 480px){

.first{
    width: 20px;
}
.second{
    width: 100px;
}
.search-input.show {
    width: 80px;
    font-size: small;
    opacity: 1;
  }
  /* .navbar{
    width: 112%;

  } */
form input{
padding: 12px 10px;
font-size: medium;
}
  }