*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* login form */

.login-form{
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 20px;
}

.login-form .input-group input{
    border-bottom: 3px solid black !important;
    border-radius: 2px;
    padding: 0;
    outline: none;
}

.input-group a{
    color: black;
}

::placeholder{
    color: rgb(139, 139, 139);
}

.login-btn a{
    font-size: 14px;
    color: gray;
}
#forget{
    text-decoration: none;
    cursor: pointer;
}

#forget:hover{
    text-decoration: underline;
}

/* login form */
